/* semantic color variables for this project */
:root {
    --color-background: #ffffff;
    --color-text: #333333;
}

* {
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    /*background: #4e5969;*/
    background: #0f0001;
}

.scene {
    width: 100%;
    height: 100%;
}

.color-picker {
    position: absolute;
    top: 5%;
    right: 20px;
    color: whitesmoke;
    font-size: 13px;
    text-align: center;
}

.color-picker .color-picker-wrap {
    margin-bottom: 5px;
}


input[type=color] {
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    background: none;
}


::-webkit-color-swatch {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid #ffffff;
    box-shadow: 0 1px 3px #c9bcbc1f, 0 1px 2px #e5d5d53d;
}

